"""Otter Pilot command {{cookiecutter.command_name}}."""
import logging

LOG = logging.getLogger(__name__)


def main():
    """Otter Pilot {{cookiecutter.command_name}}.

    Good for taking care of business.
    """
    print('Otter Pilot {{cookiecutter.command_name}} reporting for duty!')


if __name__ == '__main__':
    main()
